.navbar img {
    width: 1.2rem;
}

.welcome {
    background: url('/img/background.jpg');
    background-position: center center;
    background-size: cover;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
